<a href="https://colab.research.google.com/github/mmilannaik/Interview-Prepartion-Data-Science/blob/master/W1_Interview_coding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Theoretical Concepts

## Repr

In [ ]:
class Person:
  def __init__(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender

  def __repr__(self):
    return f"Person(name='{self.name}, age={self.age}, gender={self.gender})"

In [ ]:
jack = Person("Jack",25,"Male")

In [ ]:
jack

Person(name='Jack, age=25, gender=Male)

## Decorator

In [ ]:
# decorator
def dec_func(func):
  def wrapper():
    print("This is decorator")
    func()
  return wrapper

In [ ]:
def orig_func():
  print("This is original function")

In [ ]:
orig_func()

This is original function

In [ ]:
@dec_func
def orig_func():
  print("This is original function")

In [ ]:
orig_func()

This is decorator
This is original function

## Scopes

# Week 1

## String Reverse

In [ ]:
Input: "EYInterview"
Output: "weivretnIYE"

In [ ]:
def reverse_string(s):
  char_list = list(s)
  left,right = 0,len(char_list)-1
  while left<right:
    char_list[left],char_list[right]= char_list[right],char_list[left]
    left+=1
    right-=1
  return "".join(char_list)

In [ ]:
a = "EYInterview"
reverse_string(a)

'weivretnIYE'

## Check for Palindrome

Input: "racecar"
Output: True

In [ ]:
a = "racecar"

In [ ]:
if a ==a[::-1]:
 print(True)

True

In [ ]:
def palindrome_st(s):
  s = ''.join(s.split()).lower()
  left, right = 0,len(s)-1
  while left < right:
    if s[left]!=s[right]:
      return False
    left +=1
    right -=1
  return True

In [ ]:
palindrome_st(a)

True

## Factorial Cal

factorial(5)  # Output: 120  (5! = 5 * 4 * 3 * 2 * 1)

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

fact(5)

120

## Fibonacci

fibonacci(6)  # Output: [0, 1, 1, 2, 3, 5]

In [ ]:
def fibo(n):
  fiblist =[0,1]
  for i in range(2,n+1):
    fiblist.append(fiblist[i-1]+fiblist[i-2])
  return fiblist
fibo(2)

[0, 1, 1]

## Prime number check

is_prime(7)  # Output: True
is_prime(10)  # Output: False

In [ ]:
def isprime(n):
  if n>1:
    for i in range(2,(n//2)+1):
      if n%i==0:
        return False
      else:
        return True
  else:
    return False
isprime(10)

False

In [ ]:
isprime(7)

True

## Count Frequency of Characters

Write a function char_frequency(s: str) -> dict that takes a string and returns a dictionary where the keys are the characters and the values are the counts of those characters in the string.

In [ ]:
def count_freq(n):
  ans ={}
  for i in n:
    if i not in ans:
      ans[i] = 1
    elif i in ans:
      ans[i]+=1
  return ans

count_freq('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
count_freq("hello world")

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

## Merge Sorted lists

Write a function merge_sorted_lists(list1: list, list2: list) -> list that takes two sorted lists of integers and returns a new list that contains all elements from both lists in sorted order.

In [ ]:
def merge_sorted_lists(list1,list2):
  ans = []
  ans.extend(list1)
  ans.extend(list2)
  return sorted(ans)

In [ ]:
merge_sorted_lists([1, 3, 5], [2, 4, 6])

[1, 2, 3, 4, 5, 6]

## Remove Duplicates from a List

Write a function remove_duplicates(lst: list) -> list that takes a list and returns a new list with duplicate elements removed, while preserving the original order.

In [ ]:
def remove_duplicates(lst):
  return list(set(lst))

In [ ]:
remove_duplicates([1, 2, 2, 3, 4, 4, 5])

[1, 2, 3, 4, 5]

## Find Common Elements Between Two Lists

Write a function common_elements(list1: list, list2: list) -> list that returns a list of elements that are common to both input lists (each common element should appear only once in the result).

In [ ]:
def common_elements(list1,list2):
  return list(set(list1) & set(list2))

In [ ]:
common_elements([1, 2, 3, 4], [3, 4, 5, 6])

[3, 4]

## Greatest Common Divisor (GCD)

Write a function gcd(a: int, b: int) -> int that computes the greatest common divisor of two integers using Euclid's algorithm.

In [ ]:
def gcd(a,b):
  if b==0:
    return a
  else:
    return gcd(b,a%b)

In [ ]:
gcd(48, 18)

6

# *Basic-50*

## 1.Anagram Checker

Write a function are_anagrams(s1: str, s2: str) -> bool that checks if two strings are anagrams of each other (i.e., they contain the same characters in any order).

In [ ]:
def anag(a,b):
  for i in a:
    if i not in b:
      return False
  return True

In [ ]:
anag("listen", "silent")

True

## 2.Sum of Digits(Recursive)

Write a function sum_of_digits(n: int) -> int that returns the sum of the digits of a number using recursion.

In [ ]:
def sum_of_digits(n):
  if n==0:
    return 0
  else:
    return n%10+sum_of_digits(n//10)

In [ ]:
sum_of_digits(1234)

10

In [ ]:
sum_of_digits(53)

8

## 3.Find Maximum Element

Write a function find_max(lst: list) -> int that returns the maximum element in a list without using the built-in max() function.

In [ ]:
def find_max(l1):
  max_num = l1[0]
  for i in l1:
    if i>max_num:
      max_num= i
  return max_num

In [ ]:
find_max([1, 3, 2, 5, 4])

5

## 4.Find Minimum Element

Write a function find_min(lst: list) -> int that returns the minimum element in a list without using the built-in min() function.

In [ ]:
def find_min(l1):
  min_num = l1[0]
  for i in l1:
    if i<min_num:
      min_num= i
  return min_num

In [ ]:
find_min([1, 3, 2, 0, 4])

0

## 5.Find the First Non-Repeating Character

Input: "aabbccdeff"
Output: "d"

In [ ]:
def first_non_repeating(s):
  char_count ={}
  for char in s:
    char_count[char] = char_count.get(char,0)+1
  for char in s:
    if char_count[char]==1:
      return char
  return None

In [ ]:
s = "aabbccdeff"
first_non_repeating(s)

'd'

## 6.Implement Sorting Algo

Write a function sort_list(lst: list) -> list that returns a sorted version of a list without using sorted() or list.sort(). (You might implement a simple algorithm like bubble sort or selection sort.)

In [5]:
def sort_list(n1):
  for i in range(len(n1)):
    for j in range(i+1,len(n1)):
      if n1[i]>n1[j]:
        n1[i],n1[j] = n1[j],n1[i]
  return n1

In [6]:
sort_list([3, 1, 4, 1, 5])

[1, 1, 3, 4, 5]

## 7.Check a list is sorted

Write a function is_sorted(lst: list) -> bool that checks whether a list is sorted in ascending order.

In [7]:
def is_sorted(l1):
  for i in range(len(l1)-1):
    if l1[i]>l1[i+1]:
      return False
  return True

In [8]:
is_sorted([1, 2, 3, 4])

True

In [9]:
is_sorted([1, 3, 2, 4])

False

## 8.Second Largest Number

Write a function second_largest(lst: list) -> int that returns the second largest number in a list.

In [11]:
sorted([10, 20, 30, 40])[-2]

30

In [12]:
def second_largest(lst):
  return sorted(lst)[-2]

In [13]:
second_largest([10, 20, 30, 40])

30

## 9.Flatten a nested list

Write a function flatten(nested_list: list) -> list that flattens a nested list (i.e., a list that may contain other lists) into a single list of elements.

In [18]:
def flat_list(l1):
  flat_list = []
  for i in l1:
    if type(i)==list:
      flat_list.extend(i)
    else:
      flat_list.append(i)
  return flat_list

In [19]:
flat_list([1, [2, 3], [4, [5]]])

[1, 2, 3, 4, [5]]

## 10.Word Freq Counter

Write a function word_frequency(text: str) -> dict that returns a dictionary with the frequency of each word in the input text.

In [20]:
def word_frequency(text):
  words = text.split()
  freq = {}
  for word in words:
    if word in freq:
      freq[word]+=1
    else:
      freq[word]=1
  return freq

In [21]:
word_frequency("hello world hello")

{'hello': 2, 'world': 1}

## 11.Remove Vowels from string

In [22]:
def remove_vowel(text):
  vowels = "aeiouAEIOU"
  return "".join([char for char in text if char not in vowels])

In [25]:
remove_vowel("hello world")

'hll wrld'

## 12.Set Intersection

Write a function set_intersection(set1: set, set2: set) -> set that returns the intersection of two sets.

In [26]:
def set_intersection(set1,set2):
  return set1.intersection(set2)

In [27]:
set_intersection({1, 2, 3}, {2, 3, 4})

{2, 3}

## 13.Generate Permutations

Write a function permutations(lst: list) -> list that returns a list of all permutations of the input list.

In [34]:
def gen_permute(lst):
  if len(lst) <= 1:
        return [lst]

  result = []
  for i in range(len(lst)):
      # Choose the current element
      current = lst[i]

      # Create a list of remaining elements
      remaining = lst[:i] + lst[i+1:]

      # Generate permutations of the remaining elements
      for p in gen_permute(remaining):
          # Combine the current element with each permutation
          result.append([current] + p)

  return result

In [35]:
gen_permute([1,2])

[[1, 2], [2, 1]]

## Generate Combinations

Write a function combinations(lst: list, k: int) -> list that returns all combinations of k elements from the input list.

In [38]:
def combi(lst,k):
  if k==0:
    return [[]]
  result = []
  for i in range(len(lst)):
    current = lst[i]
    remaining = lst[i+1:]
    for p in combi(remaining,k-1):
      result.append([current]+p)
  return result

In [39]:
combi([1, 2, 3], 2)

[[1, 2], [1, 3], [2, 3]]

## Longest common Prefix

Input: ["interview", "intelligence", "integrate"]
Output: "int"

In [ ]:
for char in s:
  for ch in char:

AttributeError: module 'numpy' has no attribute 'count'